@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
/*Reset*/
html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: 'Lato', sans-serif;
  color: #333333;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  display: inline-block;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  display: none;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.main-screen {
  position: relative;
  flex: 1 0 100%;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 35px;
}

@media (max-width: 767px) {
  .header {
    top: 15px;
  }
}

.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate3d(-50%, 0px, 0px);
  z-index: 2;
}

.menu__list {
  text-transform: uppercase;
}

.menu__list li {
  position: relative;
  padding: 0px 37.5px;
}

.menu__list li:nth-child(2) {
  padding: 0px 110px 0px 37.5px;
}

.menu__list li:nth-child(3) {
  padding: 0px 37.5px 0px 110px;
}

.menu__list li::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  top: 50%;
  right: 0px;
  border-radius: 50%;
  background-color: #4d4959;
  margin: 2px 0px 0px 0px;
}

.menu__list li:nth-child(2):after, .menu__list li:last-child:after {
  display: none;
}

.menu__link {
  color: #4d4959;
  letter-spacing: 2.6px;
  font-size: 13px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .menu__body {
    overflow: auto;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4d4959;
    padding: 150px 0px 0px 0px;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__list li {
    padding: 0px 0px 45px 0px;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    padding: 0px 0px 45px 0px;
  }
  .menu__list li:nth-child(2)::after, .menu__list li:nth-child(3)::after {
    display: block;
  }
  .menu__list li:nth-child(2):last-child, .menu__list li:nth-child(3):last-child {
    padding: 0px 0px 0px 0px;
  }
  .menu__list li::after {
    content: "";
    width: 4px;
    height: 4px;
    top: 40px;
    right: 50%;
    border-radius: 50%;
    background-color: #fff;
    margin: 2px 0px 0px 0px;
  }
  .menu__link {
    font-size: 20px;
    color: #fff !important;
  }
}

.generation {
  padding: 120px 0px;
}

@media (max-width: 1100px) {
  .generation {
    padding: 70px 0px;
  }
}

@media (max-width: 1100px) {
  .generation {
    padding: 40px 0px;
  }
}

.conteiner {
  max-width: 1080px;
  margin: 0px auto;
  padding: 0 15px;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.block__img {
  margin-bottom: 30px;
}

.block__title {
  line-height: 24px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.6px;
  color: #353738;
  margin-bottom: 18px;
}

.block__text {
  font-size: 18px;
  line-height: 1.89;
  color: #848789;
}

.block__text--j {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}

.block__text--j::after {
  display: block;
  margin: 45px auto 0px auto;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #353738;
}

.breands--rev .breands__column {
  order: 1;
}

.breands--rev .breands__column--b {
  order: 2;
}

.breands__row {
  display: flex;
}

.breands__column {
  flex: 0 1 33.333%;
}

.breands__column--b {
  flex: 0 1 66.667%;
}

.breands__body {
  padding: 70px 65px 55px 65px;
}

.breands__img {
  padding: 0px 0px 37.51% 0px;
}

@media (max-width: 1500px) {
  .breands__body {
    padding: 40px 35px 30px 35px;
  }
}

@media (max-width: 1100px) {
  .breands--last .breands__column:nth-child(1) {
    order: 2;
  }
  .breands--last .breands__column:nth-child(2) {
    order: 1;
  }
  .breands--last .breands__column:nth-child(3) {
    order: 3;
  }
  .breands__row {
    flex-direction: column;
  }
}

.item {
  height: 100%;
  display: block;
  position: relative;
}

.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(100, 194, 158, 0.7);
  transition: all 0.5s ease 0s;
}

.item__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1100px) {
  .item {
    height: auto;
    padding: 0px 0px 70% 0px;
  }
}

.twitter {
  padding: 125px 0px 180px 0px;
  text-align: center;
}

.container {
  max-width: 1035px;
  margin: 0px auto;
  padding: 0px 15px;
}

.body__img {
  margin-bottom: 35px;
}

.body__title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.8px;
  color: #353738;
  margin-bottom: 25px;
}

.body__title span {
  color: #848789;
}

.body__text {
  font-size: 24px;
  line-height: 1.42;
  font-style: italic;
  color: #848789;
}

.shop__body {
  display: flex;
}

.shop__column {
  flex: 0 1 16.666%;
}

.shop__column--b {
  flex: 0 1 33.333%;
}

.block-shop {
  height: 100%;
}

.block-shop__row {
  display: flex;
}

.block-shop__column {
  flex: 0 1 50%;
}

.block-shop__item__item--b {
  padding: 0px 0px 200.5% 0px;
}
