$white-two: #f7f7f7;
$dark-grey: #222429;
$dark-grey-two: #282f35;
$red: #d24a4c;
$pale-teal: #64c29e;
$grey: #848789;
$red-two: #e74c45;
$dark-grey-ttree: #353738;
$grey-two: #929292;
$dark-grey-four: #4d4959;
$grey-tree: #a9afb3;
$white: #fff;